{% extends '_templates/base.njk' %}

{% block page_title %}Blogs{% endblock %}

{% block page_description %}A lsit of blogs about tales from the seas{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1>Tales from the seas</h1>
      <p>Log Sink me aye bilge rat no prey, no pay lugsail scuttle Davy Jones' Locker pink swab. Gangway splice the main brace pirate gally piracy doubloon chase guns hogshead crack Jennys tea cup maroon. Handsomely mutiny execution dock swing the lead crow's nest weigh anchor draught red ensign yo-ho-ho port.</p>
      {% for entry in blog.blogs %}
      <h3><a href="blog/{{ entry.slug }}.html">{{ entry.headline }}</a></h3>
      <p>{{ entry.date}}</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}